body {
  background-color: #14181c;
  color: #cdd4da;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Efeito de scanlines (opcional, mas muito legal) */
  background-image: linear-gradient(
    rgba(20, 24, 28, 0),
    rgba(20, 24, 28, 0.75) 50%,
    rgba(20, 24, 28, 0)
  );
  background-size: 100% 3px;
}

/* Customização da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #14181c;
}
::-webkit-scrollbar-thumb {
  background: #ff4141; /* Vermelho Umbrella */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff6f6f;
}